{%load static%}
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'core/css/terminos.css'%}">
    <link rel="stylesheet" href="{%static 'core/css/styleterminos.css'%}">
    
</head>

<body>
  <div class="content"></div>
  <h1 align="center">MM Repuestos</h1>
  <h3 align="center">Términos y Condiciones para el uso del Catálogo Digital y la Tienda en Línea</h3>
  
  <p align="center">El uso de este sitio está regido por los Términos y Condiciones descritos a continuación, así como por la legislación vigente en la República de Chile, en particular a la Ley N° 19.496 sobre Protección de los Derechos de los Consumidores y a la Ley N° 19.628 sobre Protección de la Vida Privada.

    Si los usuarios y clientes hacen uso de los recursos dispuestos en este sitio se entenderá que aceptan las condiciones descritas en los párrafos siguientes.</p>

    <h3 align="center">De la privacidad de los datos y las comunicaciones</h3>

    <p align="center">MM repuestos declara su compromiso a proteger la privacidad de sus clientes. 

      1.- La información que recolectamos es sólo la necesaria para darle un adecuado procesamiento a las compras y a los envíos. Eventualmente compartiremos lo estrictamente necesario con las empresas de transportes para que las compras hechas por los clientes puedan ser correctamente despachadas.
      
      2.- También, podríamos utilizar la información de sus compras históricas para ofrecer a nuestros clientes promociones, ofertas o publicidad según sus intereses.
      
      No vendemos, ni cedemos o compartimos de ninguna forma nuestra lista de clientes y correos electrónicos a terceras partes.
      
      El cliente puede elegir recibir o no nuestros e-mails promocionales.
      
      Este sitio web utiliza cookies que no recopilan información personal de los usuarios. Cada cliente puede configurar su navegador para aceptarlas o no, pero debe tener presente que podrían existir funcionalidades que no estarán disponible de no aceptarlas.
      
      www.adriazolarepuestos.com utiliza Google Analytics para ayudar al sito a analizar el uso que hacen los usuarios de la web. Este servicio de Google Inc. utiliza cookies y el usuario puede configurar su navegador para denegar el uso de los datos relacionados. Para más información sobre las políticas de privacidad siga este link https://policies.google.com/privacy</p>

      <h3 align="center">Del catálogo digital</h3>

      <p align="center">Ponemos a disposición de nuestros clientes un catálogo digital de piezas y repuestos, con información técnica complementaria e imágenes. Esta últimas, en algunos casos podrian ser referenciales o esquemáticas y no ser la representación exacta del repuesto. Para acceder a visualizar la información el usuario deberá seleccionar el modelo de vehículo para el que busca repuestos.

        El cliente podrá consultar el precio y disponibilidad de stock en nuestras tiendas de Santiago. La actualización de la información podría tener un retraso de hasta 30 minutos.
        
        La información técnica y las fotografías son para uso exclusivo de nuestros clientes como apoyo en la búsqueda de sus repuestos. Queda expresamente prohibido copiar o descargar información técnica y fotografías para cualquier uso, sea o no comercial. También queda prohibido reproducir, arrendar o redistribuir el contenido de este sitio. Todo el material es propiedad de MM Repuestos</p>

    <div class="content"></div>
     <a href="/HTML Encabezado/Contacto.html">Volver al formulario</a></div>


 
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>